@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply bg-background font-sans text-text;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --background: #f9fcfb;
    --foreground: #0a1817;
    --card: #ffffff;
    --card-foreground: #000000;
    --primary: #37817c;
    --primary-foreground: #ffffff;
    --secondary: #cfebe9;
    --secondary-foreground: #163634;
    --accent: #e9f6f5;
    --accent-foreground: #163634;
  }

  html,
  body {
    @apply max-w-full overflow-x-hidden scroll-smooth;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply bg-background text-foreground;
  }

  * {
    @apply m-0 p-0 border-border;
  }

  a {
    @apply text-inherit no-underline;
  }
}
