@import 'tailwindcss';

@theme {
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes gooey {
    0%,
    100% {
      border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    34% {
      border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
      transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
    }
    50% {
      opacity: 0.89;
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
      transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
    }
  }

  @keyframes morph {
    0%,
    100% {
      border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    34% {
      border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
  }

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-gooey: gooey 5s linear infinite;
  --animate-morph: morph 8s ease-in-out infinite;

  /* Reef colors */
  --color-reef-900: #0a1817;
  --color-reef-800: #163634;
  --color-reef-700: #2b6763;
  --color-reef-600: #317159;
  --color-reef-500: #37817c;
  --color-reef-300: #89c2b6;
  --color-reef-200: #cfebe9;
  --color-reef-100: #e9f6f5;
  --color-reef-50: #edf7f3;
  --color-reef-25: #f9fcfb;
  --color-text: #363636;
  --color-background: #ffffff;
  --color-primary: #d5e4df;
  --color-secondary: #f7b93b;
  --color-accent: #37827d;
  --color-accent-light: #d8e4e0;
  --color-shad-background: var(--color-background);
  --color-foreground: var(--foreground);
  --color-shad-primary: var(--color-primary);
  --color-shad-primary-foreground: var(--primary-foreground);
  --color-shad-secondary: var(--color-secondary);
  --color-shad-secondary-foreground: var(--secondary-foreground);
  --color-shad-accent: var(--color-accent);
  --color-shad-accent-foreground: var(--accent-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --font-lexend: var(--font-lexend), Arial, sans-serif;
}

@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --background: #f9fcfb;
    --foreground: #0a1817;
    --card: #ffffff;
    --card-foreground: #000000;
    --primary: #37817c;
    --primary-foreground: #ffffff;
    --secondary: #cfebe9;
    --secondary-foreground: #163634;
    --accent: #e9f6f5;
    --accent-foreground: #163634;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  html,
  body {
    @apply scroll-smooth;
  }
}
